@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;
}

:root {
    --BGCLR: #09090B;
    /* --BGCLR: #ffffff; */
    --code-font: "Geist Mono", monospace;
    --poppins: "Poppins", sans-serif;
    --primary-font: "Geist", sans-serif;
    --secondary-font: "Lexend", sans-serif;

    --line-color: rgba(255, 255, 255, 0.1);
    --plus-color: rgba(255, 255, 255, 0.5);

}




/* OVERLAY */
.overlay-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: 20;
    background-color: var(--BGCLR);

}

.overlay-container .overlay-text {
    font-family: var(--poppins);
    font-size: 2.5em;
    color: #fff;

}

.disable-zoom {
    touch-action: pan-x pan-y;
}




/* DESKTOP */
.desktop-conatiner {
    background-color: var(--BGCLR);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 1;

}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.qr-box {
    position: relative;
    width: 250px;
    height: 250px;
    border: 1px solid var(--line-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    z-index: 1;

}

.qr-image {
    width: 180px;
    height: 180px;
    /* filter: invert(1);  */

}

.unlock-text {
    font-size: 1.7rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 0.4em;
    font-family: var(--code-font);

}

.social-media {
    display: flex;
    gap: 2em;

}

.social-link {
    text-decoration: none;
    color: #b9b9ba;
    font-family: var(--code-font);
    font-size: 0.9em;
    margin-top: 3em;

}

.plus {
    position: absolute;
    width: 15px;
    height: 15px;
    z-index: 5;

}

.plus::before,
.plus::after {
    content: '';
    position: absolute;
    background-color: var(--plus-color);

}

.plus::before {
    top: 7px;
    left: 0;
    width: 100%;
    height: 1px;

}

.plus::after {
    left: 7px;
    top: 0;
    width: 1px;
    height: 100%;
}

.p-top-left {
    top: -8px;
    left: -8px;
}

.p-top-right {
    top: -8px;
    right: -8px;
}

.p-bottom-left {
    bottom: -8px;
    left: -8px;
}

.p-bottom-right {
    bottom: -8px;
    right: -8px;
}























/* MAIN */
.container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: var(--BGCLR);
    justify-content: center;
    align-items: center;


    /* background-image: radial-gradient(circle at center center, transparent 0%,rgb(33,33,33) 99%),repeating-linear-gradient(0deg, rgba(163, 163, 163,0.2) 0px, rgba(163, 163, 163,0.2) 1px,transparent 1px, transparent 6px),repeating-linear-gradient(90deg, rgba(163, 163, 163,0.2) 0px, rgba(163, 163, 163,0.2) 1px,transparent 1px, transparent 6px),linear-gradient(90deg, rgb(33,33,33),rgb(33,33,33)); */
    overflow: hidden;

}


.heading {
    font-family: var(--secondary-font);
    color: #fff;
    font-size: 1.3em;
    padding: 0 0 0 0.8em;
    font-weight: 500;
    width: 100%;
}